html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
    overflow-x: hidden; /* Hide scrollbars */
}

*, *:before, *:after {
  box-sizing: inherit;
}

.searchBoxStyle{
  font-size: 13px;
  padding-bottom: 6px;
  margin-right: 3%;
  padding-left: 10px;
  padding-top: 6px;
  color: #08533C;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 90px;
  border-radius: 15px;
  
}


.searchBoxStyle:focus{
  outline: none;
}

.cardButtons[name=button]{
  border: 2px solid white;
  margin-top: 9%;
  border-radius: 4px;
  font-size: 13px;
  padding: 10px;
  color: white;
  transition: all .15s ease-in;
}

.cardButtons[name=button] {
  background-color:#08533C;
  color: white;
  font-weight: bold;
  border: 3px solid white;
}

.cardButtons[name=button]#false{
  background-color:#acacac;
}


.container {
  margin: 2% 0 auto 3%;
  width: 100%;
  z-index: -1;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-lable {
  color: #08533C;
  font-size: 12px;
}

.card {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 90px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 65%;
}

.card .card-body#true:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  background-color: #08533C;
  color: white;
  
}
.card .card-body#false:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  background-color: #acacac;
  color: white;
  
}
#false
{
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  background-color: #acacac;
  color: white;
}

.card-header .card-lable:hover{
  color: white;
}
.card-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}

.card-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card:hover .card-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
}

.card-body {
  background-color: white;
  color: #08533C;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 145%;
}

.card-top {
  display: block;
}

.card:hover{
  opacity: 1;
  transform: translateY(0);
}

.event-name
{
  margin-top: -10px;
}

.card-header {
  display: block;
  margin-top: -7px;
}

.card-sub-botton {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
 
  height:100%;
}

.card:hover .card-sub-botton {
  opacity: 0;
  transform: translateY(-8px);
}

.card-sub-text {
  display: inline-block;
}

.card-sub-show {
  background-color: rgba(8, 83, 60, 0.719);
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.card:hover .card-sub-show {
  opacity: 1;
  transform: translateY(0);
}

.card-link {
  color: #08533C;
  text-decoration: none;
  margin-left: 20px;
}

.funButton {
  font-size: 13px;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-top: 90px;
  margin-left: 3%;
  border-style: solid;
  color: #08533C;
  border-radius: 15px;
}

.card-sub-text {
  display: inline-block;
}

.u-float-right {
  float: right;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.card-body {
  background-color: white;
  color: #08533C;
  float: left;
  border-style: solid;
  border-radius: 10px;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 145%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  overflow-x: hidden;
}
user agent stylesheet
html {
  color: -internal-root-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}