.inputValEmail:invalid:not(:focus):not(:placeholder-shown) ~ .form__requirements,
.inputValText:invalid:not(:focus):not(:placeholder-shown) ~ .form__requirements {
  max-height: 200px;
}
.inputValEmail:invalid:focus:not(:placeholder-shown),
.inputValText:invalid:focus:not(:placeholder-shown) {
  border-bottom: 3px solid #FF5D73;
}

#submit_button {
  display: none;
}

#submit_button.active {
  display: block;
}

#falseValid{
   display: none;
}
.form {
    margin-top: 40px;
  display: -webkit-box;
  display: flex;
  width: 350px;
  padding: 2rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #fff;
}
.form .fieldsetVal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100px;
}
.form .fieldsetVal:last-child {
  min-height: 0;
}
.form__label {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  color:#99cc33;
}
.form__input {
  margin: .5rem 0 .25rem;
  width: 100%;
  padding: .825rem 0 .825rem 1rem;
  background-color: #f5f5f5;
  border: 0;
  border-bottom: 3px solid transparent;
}
.form__button {
  background-color: #ACEDFF;
  border: 0;
  padding: .825rem 1rem;
  margin-left: auto;
}
.form__requirements {
  color: #FF5D73;
  font-size: .75rem;
  margin: .5rem 0;
  overflow: hidden;
  max-height: 0;
}

.bodyVal {
  -webkit-transition: 280ms all;
  transition: 280ms all;
  box-sizing: border-box;
}

.htmlVal, .bodyVal {
  height: 100%;
  width: 100%;
}

.bodyVal {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
align-items: center;
  -webkit-box-pack: center;
justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
flex-direction: column;
 background-color: #4949498c;
height: 100vh;
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
}
.bodyVal .spanVal {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}