body {
  margin: 0;
  font-family: 'Avenir Book', 'Arial Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Avenir Book', 'Arial Book', sans-serif;
}
